# Dependabot version updates and security alerts
# https://docs.github.com/en/code-security/dependabot

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
